.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 20px;
    padding: 4px;
    color: white;
    cursor: pointer;
}

.container {
    width: 875px;
    height: 577px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    z-index: 12;

    @media screen and (max-width: 992px) {
        height: 500px;
        margin: 0 8px;
        overflow: overlay;
    }
}

.header {
    border-bottom: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    height: 43px;
}

.back {
    margin-left: 8px;
    font-size: 40px;
    display: flex;
    padding: 1px 4px;
    cursor: pointer;
}

.title {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #262626;
}

.shared {
    padding: 16px;
    color: #0095f6;
    font-size: 14px;
    cursor: pointer;
}

.content {
    display: flex;

    @media screen and (max-width: 992px) {
        flex-direction: column-reverse;
    }
}

.select {
    width: 534px;
    height: 534px;
    overflow: hidden;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(219, 219, 219);

    h2 {
        font-family: 'Roboto';
        font-size: 22px;
        line-height: 26px;
        font-weight: 200;
    }

    button {
        margin-top: 24px;
    }

    input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }

    @media screen and (max-width: 992px) {
        width: 100%;
        height: auto;

        h2 {
            display: none;
        }
    }
}

.image {
    width: 100%;
    height: 100%;
    font-size: 0px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.choose {
    margin-top: 24px;
    position: relative;
    cursor: pointer;
}

.post {
    flex: 1;

    @media screen and (max-width: 768px) {
        // display: none;
    }
}

.user {
    margin: 18px 16px 14px 16px;
    display: flex;
    align-items: center;

    span {
        flex: 1;
        font-size: 16px;
        line-height: 24px;
    }
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 12px;
}

.post {
    textarea {
        padding: 0 16px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: 'Roboto';
        height: 168px;
        width: 100%;

        @media screen and (max-width: 992px) {
            height: 110px;
        }
    }
}

.icons {
    font-size: 20px;
    color: rgb(142, 142, 142);
    padding: 4px 0 4px 16px;
}

.options {
    input {
        width: 100%;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        font-family: 'Roboto';
        color: #262626;
    }

    @media screen and (max-width: 992px) {
        // display: none;
    }
}

.location {
    border-top: 1px solid rgb(219, 219, 219);
    padding: 10px 17px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
        border-bottom: 1px solid rgb(219, 219, 219);
    }
}

.icon-location {
    font-size: 16px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgb(219, 219, 219);
    padding: 10px 17px;
    margin-left: 0 !important;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Roboto';

    &:last-child {
        border-bottom: 1px solid rgb(219, 219, 219);
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.loading {
    animation: spinner 1s linear infinite;
    margin-top: 80px;

    @keyframes spinner {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
