.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.comment-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover,
    :target {
        .btn-actions {
            display: block;
        }
    }
}

.box {
    display: flex;
    align-items: center;
}

.author {
    font-size: 14px;
    font-weight: 600;
}

.text {
    font-size: 13px;
    width: 76%;
    word-break: break-all;
}

.loves {
    width: 12px;
    height: 12px;
    cursor: pointer;
    padding: 0 8px;
}

.btn-actions {
    display: none;
    cursor: pointer;
    padding: 0 8px;
    position: relative;
}

.options {
    display: flex;
    align-items: center;
}

.menu-options {
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.0975));
    background-color: white;
    border-radius: 6px;
    position: absolute;
    right: 8px;
    top: -10px;
    min-width: 160px;
    overflow: hidden;

    div {
        font-size: 14px;
        padding: 4px 4px 4px 12px;

        &:hover {
            cursor: pointer;
            background-color: rgb(250, 250, 250);
        }
    }
}
