.comment {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    height: 40px;

    form {
        width: 100%;
        display: flex;
        align-items: center;
    }

    textarea {
        resize: none;
        height: 18px;
        max-height: 80px;
        flex: 1;
        font-size: 15px;
        font-family: 'Roboto';
        font-weight: 300;

        &:not(:placeholder-shown) ~ .send {
            opacity: 1;
        }
    }
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 8px 12px 8px 0;
}

.send {
    opacity: 0.3;
    color: #0095f6;
    font-size: 14px;
    line-height: 18px;
}
