@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
textarea {
    outline: none;
    border: none;
    background-color: transparent;
}

textarea {
    resize: none;
}

a[href] {
    text-decoration: none;
}

// // Font
// @font-face {
//     font-family: Roboto-Regular;
//     src: url('/assets/font/Roboto-Regular.ttf');
//     // font-weight: 400;
// }

@media screen and (max-width: 576px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }
}
